<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saka Offset Printing</title>
    <!-- {{ url_for('static',filename='blog.jpg') }} -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">   -->
</head>
<body>
  <header style="width: auto; height: fit-content; padding: 20pt; border-bottom: 2px solid black;">
    <span style="float: left;">
      <img width="48" height="48" src= "{{ url_for('static',filename='saka_logo.png') }}">
      <a>SAKA Offset Printing</a>
    </span>
    <span style="float: right;">
      <span>
        <a>7642807946</a><br>
        <a>8256922043</a>
      </span>
      <span>
        <a>sakaoffsetprinting@gmail.com</a>
      </span>
    </span>
  </header>
</body>
</html>